---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html
  lang="en"
  class="leading-snug text-gray-900 bg-gray-50 dark:text-gray-100 dark:bg-gray-950"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout AutoPro-Regular">
      <header
        class="Header px-4 py-2 border-b flex items-center justify-between flex-wrap gap-4 dark:border-gray-700"
      >
        <div class="text-[16px]">
          <div class="flex items-center">
            <div>
              <img
                class="rounded-full mr-2 block w-[44px]"
                src="/images/milan@1x.jpg"
                srcset="/images/milan@1x.jpg, /images/milan@2x.jpg 2x"
                width="44"
                alt=""
              />
            </div>
            <div>
              <div>Milan&nbsp;Matull</div>
            </div>
          </div>
        </div>
        <ul class="Header-nav flex flex-wrap gap-x-4 text-[16px]">
          <li><a href="#about">About</a></li>
          <li><a href="#engagements">Engagements</a></li>
          <li><a href="#speaking">Speaking</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </header>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: theme("colors.blue.600");
  }

  html {
    font-size: calc(18px + (27 - 18) * ((100vw - 320px) / (1440 - 320)));
  }

  .AutoPro-Regular {
    font-family: "AutoPro-Reg", sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  address {
    font-style: normal;
  }

  a {
    color: var(--accent) !important;
    text-decoration: underline !important;
  }

  a:hover,
  a:focus {
    background-color: var(--accent) !important;
    color: theme("colors.white") !important;
  }

  h2 {
    font-size: 0.6em !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0.7rem !important;
    margin-top: 2.1rem !important;
    color: theme("colors.gray.500");
  }

  p {
    margin-bottom: calc(1em * 1.4) !important;
  }

  small {
    font-size: 0.8em;
  }
  .Text {
    max-width: 48ch;
    margin: calc(64px + 1.7rem) auto;
    padding: 0 calc(18px + (27 - 18) * ((100vw - 320px) / (1440 - 320)));
  }

  .Text p:first-of-type {
    opacity: 1;
    font-size: 1em;
    line-height: 1.4;
    margin-left: 0;
    margin-right: 0;
  }

  .Text p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.8);
  }

  @media (prefers-color-scheme: dark) {
    h2 {
      color: rgba(255, 255, 255, 0.6);
    }

    .Text p {
      color: rgba(240, 240, 240, 0.8);
    }
  }
</style>
